html, body {
  margin: 0;
  padding: 0;
  font-size: $ft14;
}

html,
body,
#app,
#app > .home,
#app > .home > .el-container{
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  //background-color: #C1C1C1;
  background-color: rgb(144, 147, 153, .3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144, 147, 153, .5);
}

/* fade-transform */
.fade-transform-enter-active {
  opacity: 0;
  transform: translateX(30px);
  transition: all .3s ease-out;
}

.fade-transform-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.fade-transform-leave-active{
  opacity: 1;
  transition: all .3s ease-out;
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

#nprogress .bar {
  background-color: rgb(41,60,78, .1);
  height: 60px;
}

#nprogress .peg {
  width: 0px;
}

.page-container {
  .page-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $m;
  }

  .page-content {

    .el-table {
      border-radius: $br;
    }

    .el-table .el-table__cell {
      padding: 8px 0;

      .el-button.is-text {
        padding: 5px 8px;
      }

      .el-button.is-text + .el-button{
        margin-left: 0;
      }
    }

    .el-table th.el-table__cell {
      background-color: #f5f7fa;
    }

    .el-pagination {
      margin-top: $m;
    }

    .page-content-tool {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: calc($m/2);

      .tool-left, .tool-right {
        display: flex;
      }

      .tool-left {
        .el-button+.el-button,
        .el-button + .el-dropdown {
          margin-left: calc($m/2);
        }
      }

      .tool-right {

      }
    }
  }

  .page-search {
    margin-bottom: $m;
    padding: $p;
    padding-bottom: calc($p/2);
    border: $border;
    border-radius: $br;

    .el-form-item {
      margin-right: 24px;
      margin-bottom: calc($m/2);

      .el-radio, .el-checkbox {
        margin-right: calc($m/2);
      }

      .el-date-editor {
        width: 320px;
      }

      .el-select {
        width: 160px;
      }
    }

    .el-button+.el-button {
      margin-left: 8px;
    }
  }
}

.page-container-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0!important;

  .page-content {
    flex: 1;
    overflow: overlay;
    padding: 15px;
  }

  .page-container-drawer {
    position: relative!important;
    flex: none;
  }
}

.el-dialog {
  .dialog-footer {
    margin-top: 2 * $m;
    text-align: right;
  }
}
