$m: 16px;
$p: 16px;
$br: 3px;

$ft12: 12px;
$ft14: 14px;
$ft16: 16px;
$ft18: 18px;
$ft20: 20px;

$fc3: #333;
$fc6: #666;
$fc9: #999;

$color-theme: #dddddd;

$border: 1px solid #ebeef5;
$borderC: #ebeef5;



